@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transisi halus untuk dark mode */
html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Poppins', sans-serif;
}
